<div id="wrapper">
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a [routerLink]="'/home'">
                        <i class="fa fa-home"></i>
                        Homepage
                    </a>
                </li>
                <li>
                    <a [routerLink]="'/reservation'">
                        <i class="fa fa-hotel"></i>
                        Reservation
                    </a>
                </li>
                <li>
                    <a [routerLink]="'/schedule-calendar'">
                        <i class="fa fa-calendar"></i>
                        View Calendar
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        RESERVATION <small></small>
                    </h1>
                </div>
            </div>
            <form #bookingForm="ngForm" (ngSubmit)="createTransactionAndSubmitBooking(bookingForm.value); bookingForm.resetForm()">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                PERSONAL INFORMATION
                            </div>
                            <div class="panel-body">

                                <div class="form-group">
                                    <label>Title *</label>
                                    <select name="title" class="form-control" ngModel #titleInput="ngModel" required>
                                        <option value selected></option>
                                        <option value="Dr.">Dr.</option>
                                        <option value="Miss.">Miss.</option>
                                        <option value="Mr.">Mr.</option>
                                        <option value="Mrs.">Mrs.</option>
                                        <option value="Prof.">Prof.</option>
                                        <option value="Rev .">Rev .</option>
                                        <option value="Rev . Fr">Rev . Fr .</option>
                                    </select>
                                    <span class="help-block" style="color:red;"
                                        *ngIf="titleInput.invalid && titleInput.touched">Please select your title</span>
                                </div>
                                <div class="form-group">
                                    <label>First Name *</label>
                                    <input name="fname" class="form-control" ngModel #fNameInput="ngModel" required>
                                    <span class="help-block" style="color:red;"
                                        *ngIf="fNameInput.invalid && fNameInput.touched">Please enter your first
                                        name</span>
                                </div>
                                <div class="form-group">
                                    <label>Last Name *</label>
                                    <input name="lname" class="form-control" ngModel #lNameInput="ngModel" required>
                                    <span class="help-block" style="color:red;"
                                        *ngIf="lNameInput.invalid && lNameInput.touched">Please enter your last
                                        name</span>
                                </div>
                                <div class="form-group">
                                    <label>Email *</label>
                                    <input name="email" type="email"
                                        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                                        class="form-control" ngModel #emailInput="ngModel" required>
                                    <span class="help-block" style="color:red;"
                                        *ngIf="emailInput.invalid && emailInput.touched">Please enter a valid email
                                        address</span>
                                </div>
                                <div class="form-group">
                                    <label>Phone Number *</label>
                                    <input name="phone" type="text" pattern="[789][0-9]{9}" class="form-control" ngModel
                                        #phoneNumberInput="ngModel" required>
                                    <span class="help-block" style="color:red;"
                                        *ngIf="phoneNumberInput.invalid && phoneNumberInput.touched">Please enter a
                                        valid phone number</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">RESERVATION INFORMATION
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Type Of Room *</label>
                                    <select name="roomType" class="form-control" ngModel
                                        (ngModelChange)="calculatePrice(bookingForm.value.roomType)"
                                        #roomTypeInput="ngModel" required>
                                        <option value="Imperial" ngValue="Imperial">IMPERIAL ROOM</option>
                                        <option value="Premium" ngValue="Premium">PREMIUM ROOM</option>
                                        <option value="Executive" ngValue="Executive">EXECUTIVE ROOM</option>
                                    </select>
                                    <span class="help-block" style="color:red;"
                                        *ngIf="roomTypeInput.invalid && roomTypeInput.touched">Please select a room
                                        type</span>
                                </div>
                                <div class="form-group">
                                    <label>No.of Rooms *</label>
                                    <select name="roomCount" class="form-control" ngModel #roomCountInput="ngModel"
                                        required>
                                        <option value="1" ngValue="1">1</option>
                                    </select>
                                    <span class="help-block" style="color:red;"
                                        *ngIf="roomCountInput.invalid && roomCountInput.touched">Please select a room
                                        count</span>
                                </div>
                                <div class="form-group">
                                    <label>Check-In *</label>
                                    <input name="checkInDate" type="date" class="form-control"
                                        min="{{startDate | date:'yyyy-MM-dd'}}" ngModel #cInDateInput="ngModel"
                                        (ngModelChange)="checkDate(bookingForm.value.checkInDate, bookingForm.value.checkOutDate)"
                                        required>
                                    <span class="help-block" style="color:red;"
                                        *ngIf="cInDateInput.invalid && cInDateInput.touched">Please enter a check-in
                                        date</span>
                                </div>
                                <div class="form-group">
                                    <label>Check-Out *</label>
                                    <input name="checkOutDate" type="date" min="{{startDate | date:'yyyy-MM-dd'}}"
                                        class="form-control" ngModel #cOutDateInput="ngModel"
                                        (ngModelChange)="checkDate(bookingForm.value.checkInDate, bookingForm.value.checkOutDate)"
                                        required>
                                    <span class="help-block" style="color:red;"
                                        *ngIf="cOutDateInput.invalid && cOutDateInput.touched">Please enter a check-out
                                        date</span>
                                    <span class="help-block" style="color: red;"
                                        *ngIf="invalidDateRangeMessage.length > 0">{{invalidDateRangeMessage}}</span>
                                </div>
                                <div class="form-group" *ngIf="totalPrice">
                                    <label>Total Amount Payable: <span style="color: green;">Rs.
                                            {{totalPrice}}</span></label>
                                </div>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary" type="button" style="margin-top: 5%;"
                                        [disabled]="bookingForm.invalid || invalidDateRangeMessage.length > 0"
                                        (click)="checkRoomAvailability(bookingForm.value.roomType, bookingForm.value.checkInDate, bookingForm.value.checkOutDate)">Check
                                        Room Availability</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col text-center">
                        <span style="font-weight: bold; color: #6B240C;">All the fields marked in * are Mandatory.
                            Kindly fill all the fields to check room availability and proceed to booking.</span>
                    </div>
                </div>

                <div class="row" *ngIf="displayAvailableRooms && invalidDateRangeMessage.length == 0" style="margin-top: 5%;">
                    <div class="col">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                AVAILABLE ROOMS
                            </div>
                            <div class="panel-body">
                                <!-- Advanced Tables -->
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h4 class="text-center" *ngIf="noRoomsAvailable" style="font-weight: bold; color: #E31F1B;">
                                            No Rooms Of The Selected Type Available For The Selected Date Range
                                        </h4>
                                        <div class="table-responsive" *ngIf="!noRoomsAvailable">
                                            <table class="table table-striped table-bordered table-hover"
                                                id="dataTables-example">
                                                <thead>
                                                    <tr>
                                                        <th>Room ID</th>
                                                        <th>Room Number</th>
                                                        <th>Room Type</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let room of availableRooms; let odd = odd"
                                                        [ngClass]="odd ? 'odd' : 'even'">
                                                        <td>{{room.id}}</td>
                                                        <td>{{room.roomNumber}}</td>
                                                        <th>{{room.roomType}}</th>
                                                        <td>
                                                            <button class="btn btn-success"
                                                                (click)="onSelectRoom(room)" type="button">Select</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--End Advanced Tables -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 2%;">
                    <div class="col">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success btn-lg btn-block"
                                [disabled]="bookingForm.invalid || invalidDateRangeMessage.length > 0 || !displayAvailableRooms || !isRoomSelected">
                                Proceed To Payment <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>