<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            NEW ROOM <small></small>
        </h1>
    </div>
</div>

<div class="row">

    <div class="col-md-6 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                ADD NEW ROOM
            </div>
            <div class="panel-body">
                <form #roomInputForm="ngForm" (ngSubmit)="onSubmitRoomDetails(roomInputForm.value); roomInputForm.resetForm()">
                    <div class="form-group">
                        <label>Type Of Room *</label>
                        <select name="roomType" class="form-control" ngModel #roomTypeInput="ngModel" required>
                            <option value="Imperial" ngValue="Imperial">IMPERIAL ROOM</option>
                            <option value="Premium" ngValue="Premium">PREMIUM ROOM</option>
                            <option value="Executive" ngValue="Executive">EXECUTIVE ROOM</option>
                        </select>
                        <span class="help-block" style="color:red;"
                            *ngIf="roomTypeInput.invalid && roomTypeInput.touched">Please select a room type</span>
                    </div>

                    <div class="form-group">
                        <label>Room Number *</label>
                        <input name="roomNumber" class="form-control" name="roomNumber" placeholder="Room Number"
                            ngModel #roomNumberInput="ngModel" required>
                        <span class="help-block" style="color:red;"
                            *ngIf="roomNumberInput.invalid && roomNumberInput.touched">Please enter a Room Number</span>
                    </div>
                    <button type="submit" [disabled]="roomInputForm.invalid || showLoading" name="button"
                        class="btn btn-primary">Add Room
                    </button>
                </form>
            </div>

        </div>
    </div>

    <div class="col-md-6 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                ROOMS INFORMATION
            </div>
            <div class="panel-body">
                <!-- Advanced Tables -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Room ID</th>
                                        <th>Room Number</th>
                                        <th>Room Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let room of rooms; let odd = odd" [ngClass]="odd ? 'odd' : 'even'">
                                        <td>{{room.id}}</td>
                                        <td>{{room.roomNumber}}</td>
                                        <th>{{room.roomType}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--End Advanced Tables -->
            </div>
        </div>
    </div>
</div>