<div class="navigation">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hotelNav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h2>
                    <a class="navbar-brand" href="#">SWAPNO <span>PURAN</span> RESORT
                        <p class="logo_caption">Admin Console</p>
                    </a>
                </h2>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="hotelNav">
                <nav class="menu menu--iris">
                    <ul class="nav navbar-nav menu__list">
                        <li class="menu__item"><a [routerLink]="'/home'" class="menu__link">Home</a></li>
                        <li class="menu__item"><a href="#about" class="menu__link scroll">About</a></li>
                        <li class="menu__item"><a href="#team" class="menu__link scroll">Team</a></li>
                        <li class="menu__item"><a href="#gallery" class="menu__link scroll">Gallery</a></li>
                        <li class="menu__item"><a href="#rooms" class="menu__link scroll">Rooms</a></li>
                        <li class="menu__item"><a href="#contact" class="menu__link scroll">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </nav>

    </div>
</div>

<div class="fade-carousel slide" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <div>
                    <h4>SWAPNO PURAN RESORT</h4>
                    <h3>Making your dream vacation come true</h3>
                    <p>Welcome to our hotels</p>
                </div>
                <button type="button" class="btn btn-hero btn-lg" data-toggle="modal" data-target="#loginModal">
                    LOGIN
                  </button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" data-backdrop="false" tabindex="-1" role="dialog" id="loginModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>SWAPNO <span>PURAN</span> ADMIN <span>LOGIN</span></h4>
            </div>
            <div class="modal-body">
                <form #loginForm="ngForm">
                    <p>Please fill out the form below to access the management portal</p>
                    <div class="form-group">
                        <label for="email">Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Username" ngModel
                            #usernameInput="ngModel" required>
                        <span class="help-block" style="color:red;"
                            *ngIf="usernameInput.invalid && usernameInput.touched">Please enter a username</span>
                    </div>
                    <div class="form-group">
                        <label for="email">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password" ngModel
                            #passwordInput="ngModel" required>
                        <span class="help-block" style="color:red;"
                            *ngIf="passwordInput.invalid && passwordInput.touched">Please enter a password.</span>
                    </div>
                    <button type="button" [disabled]="loginForm.invalid || showLoading" name="button"
                        class="btn login_btn" (click)="onLogin(loginForm.value)" data-dismiss="modal">
                        <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                        <span *ngIf="showLoading">Loading...</span>
                        <span *ngIf="!showLoading">Login</span>
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
