<section id="gallery-food" class="gallery-food section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h3 class="f-gallery-title title-f-black">Savour The <span>Best Flavors</span></h3>
        </div>

        <div class="gallery-slider swiper">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide">
                    <a class="glightbox" data-gallery="images-gallery" href="assets/images/bengali-thali.jpeg">
                        <img src="assets/images/bengali-thali.jpeg" class="img-responsive" alt="">
                    </a>
                </div>
        
                <div class="swiper-slide">
                    <a class="glightbox" data-gallery="images-gallery" href="assets/images/fish-finger.jpeg">
                        <img src="assets/images/fish-finger.jpeg" class="img-responsive" alt="">
                    </a>
                </div>
        
                <div class="swiper-slide">
                    <a class="glightbox" data-gallery="images-gallery" href="assets/images/chicken-biryani.jpeg">
                        <img src="assets/images/chicken-biryani.jpeg" class="img-responsive" alt="">
                    </a>
                </div>
        
                <div class="swiper-slide">
                    <a class="glightbox" data-gallery="images-gallery" href="assets/images/tikka-kebab.jpeg">
                        <img src="assets/images/tikka-kebab.jpeg" class="img-responsive" alt="">
                    </a>
                </div>
        
                <div class="swiper-slide">
                    <a class="glightbox" data-gallery="images-gallery" href="assets/images/hariyali-chicken.jpeg">
                        <img src="assets/images/hariyali-chicken.jpeg" class="img-responsive" alt="">
                    </a>
                </div>
        
                <div class="swiper-slide">
                    <a class="glightbox" data-gallery="images-gallery" href="assets/images/butter-masala.jpeg">
                        <img src="assets/images/butter-masala.jpeg" class="img-responsive" alt="">
                    </a>
                </div>
        
                <div class="swiper-slide">
                    <a class="glightbox" data-gallery="images-gallery" href="assets/images/chicken-lollipop.jpeg">
                        <img src="assets/images/chicken-lollipop.jpeg" class="img-responsive" alt="">
                    </a>
                </div>
        
                <div class="swiper-slide">
                    <a class="glightbox" data-gallery="images-gallery" href="assets/images/mixed-fried-rice.jpeg">
                        <img src="assets/images/mixed-fried-rice.jpeg" class="img-responsive" alt="">
                    </a>
                </div>
        
                <div class="swiper-slide">
                    <a class="glightbox" data-gallery="images-gallery" href="assets/images/chilli-chicken.jpeg">
                        <img src="assets/images/chilli-chicken.jpeg" class="img-responsive" alt="">
                    </a>
                </div>
        
                <div class="swiper-slide">
                    <a class="glightbox" data-gallery="images-gallery" href="assets/images/crispy-chicken.jpeg">
                        <img src="assets/images/crispy-chicken.jpeg" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>